// Navigation code here
.navigation {
  .customFlex(flex, center, center);
  flex-direction: column;
  .navbar();


  h1 {
    font-size: 3rem;
    margin: 5px 0px;

    @media @phone {
      font-size: 4rem;
    }
  }

  nav {
    margin: 10px 0px;

    @media @phone {
      width: 100%;
    }
    ul {
      .customFlex(flex, space-evenly, center);
      width: 350px;

      @media @phone {
        width: 100%;
        .customFlex(flex, space-around, center);
      }

      li {
        a {
          color: @nav-font;
          text-decoration: none;

          @media @phone {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
